.auth0-lock.auth0-lock.auth0-lock-opened-in-frame .auth0-lock-header-bg .auth0-lock-header-bg-blur
{
    opacity: 1;
}

.auth0-lock.auth0-lock .auth0-lock-header-bg .auth0-lock-header-bg-blur {
    display: none;
    height: 100%;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #e7e7e7;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 300px;
    opacity: 0;
    transition: 0s ease 0s;
}

.auth0-lock-header-bg-blur
{
    background-image: none;
}


.auth0-lock.auth0-lock .auth0-lock-header-bg .auth0-lock-header-bg-blur {
    display: none;
    height: 100%;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-filter: none;
    -ms-filter: blur(40px) grayscale(1);
    filter: blur(40px) grayscale(1);
    -webkit-backdrop-filter: blur(0);
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 300px;
    opacity: 0;
    -webkit-transition: 0s ease 0s;
    transition: 0s ease 0s;
}

.auth0-lock.auth0-lock .auth0-lock-name
{
    font-size: 18px;
}